.logo {
    display: flex;
    gap: 0.5rem;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 2rem; */
    /* background-color: var(--cor-02); */
    font-weight: 700;
    font-size: 1.5rem;
}

.logo span {
    color: var(--cor-primaria);
}
